{
  /*
  * "off"或0 -关闭规则
  * "warn" 或1 - 开启规则, 使用警告 程序不会退出
  * "error"或2 - 开启规则, 使用错误 程序退出
  */
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "eslint-config-ali"
  ],
  "plugins": [
    "jsx-a11y",
    "@typescript-eslint",
    "eslint-plugin-react",
    "eslint-plugin-react-hooks"
  ],
  "rules": {
    "import/extensions": [
      0
    ],
    "import/no-extraneous-dependencies": [
      0
    ],
    "import/no-unresolved": [
      0
    ],
    "import/prefer-default-export": [
      0
    ],
    "jsx-a11y/no-static-element-interactions": [
      0
    ],
    "no-bitwise": [
      0
    ],
    "no-cond-assign": [
      0
    ],
    "no-else-return": [
      0
    ],
    "no-nested-ternary": [
      0
    ],
    "no-restricted-syntax": [
      0
    ],
    "no-use-before-define": [
      0
    ],
    "react/forbid-prop-types": [
      2
    ],
    "react/jsx-no-bind": [
      0
    ],
    "react/no-array-index-key": 0,
    "react/prefer-stateless-function": [
      0
    ],
    "react/prop-types": [
      2
    ],
    "require-yield": [
      1
    ],
    "no-unused-vars": [
      0
    ],
    "space-infix-ops": [
      0
    ],
    "object-shorthand": [
      0
    ],
    "quotes": 0,
    "jsx-quotes": 0,
    "prefer-const": [
      0
    ],
    "react/jsx-indent": [
      1,
      2
    ],
    "global-require": [
      2
    ],
    "indent": [
      "error",
      2
    ],
    "comma-dangle": [
      2,
      "never"
    ],
    "react/jsx-indent-props": 0,
    "react/jsx-curly-spacing": 0,
    "space-in-parens": 0,
    "no-irregular-whitespace": 2,
    "no-mixed-spaces-and-tabs": [
      2,
      false
    ],
    "no-underscore-dangle": 1,
    "key-spacing": 0,
    "no-param-reassign": 0,
    "no-lonely-if": 0,
    "linebreak-style": 0,
    "max-len": [
      2,
      300
    ],
    "class-methods-use-this": 0,
    "quote-props": 0,
    "no-shadow": 0,
    "guard-for-in": 0,
    "no-labels": 0,
    "prefer-template": 0,
    "react/sort-comp": 0,
    "import/no-dynamic-require": 2,
    // 禁止require()使用表达式调用
    "no-debugger": 0,
    "eqeqeq": "error",
    // 禁止使用调试器
    "prefer-destructuring": 0,
    // 需要从数组和/或对象中解构
    "object-curly-newline": 2,
    "object-curly-spacing": 0,
    // 在大括号内强制使用一致的换行符
    "react/jsx-equals-spacing": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
