/functions/mock/**
/scripts
/config
/webpack
/logs
/server/mockData
/node_modules
/dist
/src/public
/package.json
/package-lock.json
/.DS_Store
/.eslintignore
/.gitignore
/.lintstagedre.js
/.prettier.js
/tsconfig.json
*.md
