/functions/mock/**
/scripts
/config
/webpack
/logs
/server/mockData
/node_modules
/dist
/src/public
/package.json
/package-lock.json
/.DS_Store
/.gitignore
/.lintstagedre.js
/postcss.config.js
/.prettier.js
/tsconfig.json
*.md
*.less
/docker-compose.yml
/Dockerfile
/nginx_default.conf
